<div id="wrapper_st">
	    <div id="instructions">
	      <ul>
	        <li>WITH YOUR IPHONE 4 OR 4S:</li>
          <li>1. Take a picture of yourself.</li>
          <li>2. Flip the camera around.</li>
          <li>3. Take a picture of your surroundings.</li>
          <li>4. Submit both pictures.</li>
          <li>5. Give your Portwist a title.</li>
          <li>6. Add your name.</li>
          <li>7. Submit it.</li>
        </ul>
	    </div><!--#instructions -->
	    <div class="clear"></div>
	  <div id="frame">
      <%= form_for PhotoSet.new, :html => {:multipart => true} do |f| %>
        <div id="picture_title_l">
        <%= f.label :photo_1, 'Picture 1'%>
          <div id="browse_l">
            <span class="file-wrapper">
              <input type="file" name="photo_set[photo_1]" id="photo_set_photo_1" class="photo_set_photo_file_field" />
              <span class="button">Choose a Photo</span>
            </span>
          </div>
        </div>
          <div id="picture_title_r">
            <%= f.label :photo_2, 'Picture 2' %><br />
            <div id="browse_r">
              <span class="file-wrapper">
                <input type="file" name="photo_set[photo_2]" id="photo_set_photo_2" class="photo_set_photo_file_field" />
                <span class="button">Choose a Photo</span>
              </span>
            </div>
          </div>
      </div><!--#frame -->
        <div id='descriptions'>
          <div id="description_st_l">
            <%= f.text_field :your_title, :placeholder => '(YOUR TITLE)', :maxlength => 30 %>
          </div>
          <div id="description_st_r">
            <%= f.text_field :your_name, :placeholder => '(YOUR NAME)', :maxlength => 30 %>
          </div>
        </div><!--#descriptions -->
        <div id="submit">
          <%= f.submit "", :type => :image, :src => "/images/submit_button.png" %>
          </br>
          <div id='submit_plain'> By clicking submit you agree to the <a id='submit_link' href=/termsandconditions> terms & conditions.</a>
          </div>
        </div>


    <% end %>

	</div><!-- #wrapper-st -->