<div id="wrapper_st">
	    <div id="instructions">
	      <ul>
	        <li>WITH YOUR IPHONE 4 OR 4S:</li>
          <li>1. Take a picture of yourself.</li>
          <li>2. Flip the camera around.</li>
          <li>3. Take a picture of your surroundings.</li>
          <li>4. Submit both pictures.</li>
          <li>5. Give your Portwist a title.</li>
          <li>6. Add your name.</li>
          <li>7. Submit it.</li>
        </ul>
	    </div><!--#instructions -->
	    <div class="clear"></div>
	  <div id="frame">
      <%= form_for PhotoSet.new, :html => {:multipart => true} do |f| %>
        <div id="picture_title_l">
        <%= f.label :photo_1, 'Picture 1'%>
          <div id="browse_l">
            <span class="file-wrapper">
              <input type="file" name="photo_set[photo_1]" id="photo_set_photo_1" class="photo_set_photo_file_field" onchange="readURL(this, $('#upload_photo_1'));" />
              <span class="button">BROWSE</span>
              <img id="upload_photo_1" src="#" alt="upload_photo_1" />
            </span>
          </div>
        </div>
          <div id="picture_title_r">
            <%= f.label :photo_2, 'Picture 2' %><br />
            <div id="browse_r">
              <span class="file-wrapper">
                <input type="file" name="photo_set[photo_2]" id="photo_set_photo_2" class="photo_set_photo_file_field" onchange="readURL(this, $('#upload_photo_2'));" />
                <span class="button">BROWSE</span>
                <img id="upload_photo_2" src="#" alt="upload_photo_2" />
              </span>
            </div>
          </div>
      </div><!--#frame -->
        <div class='descriptions'>
          <div class="descriptions_r">
            <%= f.text_field :your_name, :placeholder => '(YOUR NAME)', :maxlength => 27 %>
          </div>
          <div class="descriptions_l">
            <%= f.text_field :your_title, :placeholder => '(YOUR TITLE)', :maxlength => 27 %>
          </div>
        </div><!--#descriptions -->
        <div id="submit">
          <%= f.submit "", :type => :image, :src => "/images/submit_button.png" %>
          </br>
          <div id='submit_plain'>
            By clicking submit you agree to the
            <%= link_to 'terms & conditions', terms_url, :id => 'submit_link', :class => 'fancybox fancybox.ajax' %>
          </div>
        </div>


    <% end %>

	</div><!-- #wrapper-st -->