<!DOCTYPE html>
<html>
<head>
  <title>Portwist</title>
  <%= stylesheet_link_tag 'reset', 'fancybox', 'application' %>
  <%= javascript_include_tag 'jquery', 'fancybox', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= body_id %>">    
  <div id="headerbar"> 
    <a id="twitter" href="http://www.twitter.com/portwist"><img src="images/twitter_button.png"></a>
  </div><!-- #headerbar -->
    <div id="nav_l">
      <img src="images/header_spike_left.png">
    </div><!-- #nav_l -->
      <div id="nav_r">
        <img src="images/header_spike_right.png">
      </div><!-- #nav_r -->
        <div id="tabs">
          <a id="tab-home" href="/"></a>
          <a id="tab-submit" href="/submit"></a>
          <a id="tab-how-to" href="/howto"></a>
        </div><!-- #tabs -->
      <div class="clear"> </div>
    <div id="logo">
      <a href="/"><img src="images/logo.png"></a>
      <hr id="line_1">
    </div><!-- #logo -->

<%= yield %>    

</body>
</html>
