<!DOCTYPE html>
<html>
<head>
  <title>Portwist</title>
  <%= stylesheet_link_tag 'reset', 'fancybox', 'application' %>
  <%= javascript_include_tag 'jquery', 'fancybox', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= body_id %>">

<%= yield %>

</body>
</html>
